__pycache__
Demo
.DS_Store
.ipynb_checkpoints

KnowYourMove/VGG_VOC0712_SSD_512x512_iter_120000.h5
KnowYourMove/*.avi

KYM_app/VGG_VOC0712_SSD_512x512_iter_120000.h5
KYM_app/*.avi
KYM_app/static/*.avi
